{% extends 'base.html.twig' %}

{% block title %}Connexion au site{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <div class="bg-light py-3 px-3">
                {% if hasError %}
                    <div class="alert alert-danger">Une erreur est survenue</div>
                {% endif %}
            <form action="{{ path('account_login') }}" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse email..." required value="{{username}}">
                </div>
                <h6 class="text-danger">Format de l'email incorrect.</h6>
                
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="_password" id="password" class="form-control" placeholder="Mot de passe..." required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Connexion</button>
                </div>
            </form>
            </div>     
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">

    function validateEmail(email) {
        const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      }

      let email = document.querySelector('#email');
      let error = document.querySelector('h6');
      email.addEventListener('keyup', () => {
          if(validateEmail(email.value))
          {
            error.style.display="none";
          }
          else {
            error.style.display="inline";
          }
      })
      
     
</script>
       
{% endblock %}