{% extends 'admin/base.html.twig' %}


{% block title %}Commandes{% endblock %}

{% block body %}
<br><br>
<center>
    <button type="button" class="btn btn-danger">Commandes à préparer</button>
    <button type="button" class="btn btn-warning">Commandes en cours de préparation</button>
    <button type="button" class="btn btn-success">Commandes prêtes</button>
    <button type="button" class="btn btn-info">Commandes récupérées</button>
</center>


{% endblock %}

