{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

<div class="container">

    <br>  
    <div class="row">
        {% for article in articles %}
    <div class="col-md-4 d-flex align-items-stretch">
        <figure class="card card-product">
            <div class="img-wrap"><img src="{{article.photos}}"></div>
            <figcaption class="info-wrap">
                    <h4 class="title">{{article.articleName}}</h4>
                    <p class="desc">{{article.ingredients | raw }}</p>
            </figcaption>
            
            <div class="bottom-wrap mt-auto">
                
                <select class="form-control" id="exampleFormControlSelect1" >
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                  <br>
                <a href="" class="btn btn-sm btn-primary float-right"> Order Now</a>	
                
                <div class="price-wrap h5">
                    <span class="price-new">{{article.price}} €</span>
                </div> 
            </div> 
        </figure>
    </div> 
    {% endfor %}
    
</div> 


{% endblock %}